EventInvestigationTools/Events/Microsoft-Windows-Kernel-Process/Events/WinEvent.txt
EventInvestigationTools/Registrykeys/Channels-NEWSTARTBASE.txt
EventInvestigationTools/Registrykeys/EventLog-NEWSTARTBASE.txt
